@implements Blater.FrontEnd.Auto.IAutoBuildableComponent
@using Blater.Enumerations.AutoModel
@inherits Blater.FrontEnd.Auto.Bases.BaseAutoComponent

<div id="auto-text" class="@ExtraClass">
    <MudText Typo="Typo.h6">@Value</MudText>
</div>


@code {
    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoTitle;

    [Parameter]
    public string? Value { get; set; }
}