@inherits Blater.FrontEnd.Auto.Bases.BaseValueAutoComponent<DateTime>
@using Blater.Enumerations.AutoModel
@implements Blater.FrontEnd.Auto.IAutoBuildableComponent

<div id="auto-date" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>@Value.ToString("dd/MM/yyyy")</MudText>
</div>


@code {

    public int Priority => 1000;

    private string _date = "";

    protected override void OnInitialized()
    {
        _date = Value == DateTime.MinValue ? "Indefinido" : Value.ToString("dd/MM/yyyy");
    }

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoDate;
}