@inherits Blater.Frontend.Auto.Bases.BaseValueAutoComponent<decimal>
@implements IAutoBuildableComponent

<div id="auto-double" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>@Value.ToString("##.##")</MudText>
</div>

@code
{
#pragma warning disable CA2252
    public int Priority => 1000;
    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoDecimal;
    
#pragma warning restore CA2252
}