@inherits Blater.FrontEnd.Auto.Bases.BaseValueAutoComponent<bool>
@using Blater.Enumerations.AutoModel
@using Blater.FrontEnd.Services
@implements Blater.FrontEnd.Auto.IAutoBuildableComponent

@inject LocalizationService LocalizationService

<div id="auto-text-status" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    @if (Value)
    {
        <MudText
            Class="text-sm text-neutral-700"
            Style="color: #26b050">
            @LocalizationService.Get($"{TypeName}-{true}")
        </MudText>
    }
    else
    {
        <MudText Class="text-sm text-neutral-700">@LocalizationService.Get($"{TypeName}-{false}")</MudText>
    }
</div>

@code
{
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoTextStatus;
}