@inherits Blater.Frontend.Auto.Bases.BaseValueAutoComponent<Guid>
@implements IAutoBuildableComponent

<div id="auto-short-id" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>
        @Value.ToString().Split('-').First()
    </MudText>
</div>


@code {
#pragma warning disable CA2252
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoShortId;
#pragma warning restore CA2252
}