@inherits Blater.Frontend.Auto.Bases.BaseValueAutoComponent<DateTime>
@implements IAutoBuildableComponent

<div id="auto-date" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>@Value.ToString("dd/MM/yyyy")</MudText>
</div>


@code {
#pragma warning disable CA2252
    public int Priority => 1000;

    private string _date = "";

    protected override void OnInitialized()
    {
        _date = Value == DateTime.MinValue ? "Indefinido" : Value.ToString("dd/MM/yyyy");
    }

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoDate;
#pragma warning restore CA2252
}