@inherits Blater.Frontend.Auto.Bases.BaseValueAutoComponent<string>
@implements IAutoBuildableComponent

<div id="auto-text-area" class="flex flex-col @ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText
        Class="text-sm text-neutral-700">
        @ValueAsString
    </MudText>
</div>

@code {
#pragma warning disable CA2252
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoTextArea;
#pragma warning restore CA2252
}