@inherits Blater.FrontEnd.Auto.Bases.BaseValueAutoComponent<int>
@using Blater.Enumerations.AutoModel
@implements IAutoBuildableComponent

<div id="auto-numeric" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText
        Class="text-sm text-neutral-700">
        @Value
    </MudText>

</div>


@code {
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoNumeric;
}