@*@inherits Blater.Frontend.Auto.Bases.BaseValueAutoComponent<Wallet>
@using System.Globalization
@using Blater.Frontend.Enumerations.AutoModel
@implements Blater.Frontend.Auto.IAutoBuildableComponent

<div id="auto-wallet-table" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>
        @Value.Balance.ToString(CultureInfo.GetCultureInfo("pt-BR"))
    </MudText>
</div>

@code {

    public int Priority => 1000;


    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoWalletTable;
}*@