@*@inherits Blater.Frontend.Auto.Bases.BaseValueAutoComponent<Wallet>
@using Blater.Frontend.Enumerations.AutoModel
@implements Blater.Frontend.Auto.IAutoBuildableComponent

<div id="auto-wallet" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>
        @Value.Balance.ToString("##,000")
    </MudText>
</div>

@code {

    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoWallet;
}*@