@inherits Blater.Frontend.Auto.Bases.BaseValueAutoComponent<decimal>
@implements IAutoBuildableComponent

<div id="auto-money-rounded" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText
        Class="text-sm text-neutral-700">
        @Value.ToString("C", CultureInfo.GetCultureInfo("pt-BR")).Replace("R$", "") pontos
    </MudText>
</div>


@code {
#pragma warning disable CA2252
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoMoneyRounded;
#pragma warning restore CA2252
}