@inherits Blater.Frontend.Auto.Bases.BaseValueAutoImageComponent
@implements IAutoBuildableComponent

<div id="auto-image-rectangle-details" class="flex items-center gap-4 @ExtraClass">
    <MudImage 
        Src="@Value"
        Alt="image" 
        Elevation="25"
        Style="max-height: 300px; width: 100%"
        Class="rounded"/>
</div>

@code {
#pragma warning disable CA2252
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoImageRectangleDetails;
#pragma warning restore CA2252
}