@implements IAutoBuildableComponent
@inherits Blater.Frontend.Auto.Bases.BaseAutoComponent

<div id="auto-text" class="@ExtraClass">
    <MudText Typo="Typo.h6">@Value</MudText>
</div>


@code {
#pragma warning disable CA2252
    public BaseAutoComponentTypeEnumeration ComponentType => AutoFormInputType.AutoTitle;

    [Parameter]
    public string? Value { get; set; }
#pragma warning restore CA2252
}