@inherits BaseAutoValueComponent<int>
@implements IAutoBuildableComponent

<div id="auto-numeric" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>
        @Value
    </MudText>

</div>


@code {
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoNumeric;
}