@inherits BaseAutoValueComponent<bool>
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements IAutoBuildableComponent

<div id="auto-status" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    
    <MudSwitch T="bool" Value="@Value" Class="@ExtraClass" ReadOnly="true" Color="Color.Primary"/>
</div>

@code
{
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoStatus;

}