@inherits BaseAutoValueComponent<DateTimeOffset>
@implements IAutoBuildableComponent

<div id="auto-date" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>@Value.ToString("d")</MudText>
</div>

@code {
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoComponentType.AutoDate;
}