@inherits Blater.Frontend.Client.Auto.AutoBuilders.Base.BaseAutoValueImageComponent
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.AutoInterfaces.IAutoBuildableComponent

<div id="auto-image-rounded" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudAvatar>
        <MudImage
            Src="@Value"
            Elevation="25"
            Class="rounded-lg"
            Style="@ImageStyle"/>
    </MudAvatar>
</div>


@code {

    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoImageRounded;

}