@inherits Blater.Frontend.Client.Auto.AutoBuilders.Base.BaseAutoValueComponent<List<Guid>>
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.AutoInterfaces.IAutoBuildableComponent

<div id="auto--guid-list-count" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>@Value.Count</MudText>

</div>


@code {
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoGuidListCount;
}