@inherits Blater.Frontend.Client.Auto.AutoBuilders.Base.BaseAutoValueComponent<Guid>
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

<div id="auto-short-id" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>
        @Value.ToString().Split('-').First()
    </MudText>
</div>


@code {

    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoShortId;
}