@inherits BaseValueAutoComponent<decimal>
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

<div id="auto-double" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>@Value.ToString("##.##")</MudText>
</div>

@code
{
    public int Priority => 1000;
    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoDecimal;
}