@inherits Blater.Frontend.Client.Auto.AutoBuilders.Base.BaseAutoValueComponent<decimal>
@using System.Globalization
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

<div id="auto-money-rounded" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText
        Class="text-sm text-neutral-700">
        @Value.ToString("C", CultureInfo.GetCultureInfo("pt-BR")).Replace("R$", "") pontos
    </MudText>
</div>


@code {

    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoMoneyRounded;
}