@inherits BaseValueAutoComponent<Blater.Frontend.Client.Models.Address>
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

<div id="auto-address" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>@Address</MudText>
</div>

@code {

    public int Priority => 1000;

    private string Address => $"{Value.Street} {Value.Number}, {Value.District} - {Value.PostalCode} - {Value.City}, {Value.State}";

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoAddress;


}