@inherits Blater.Frontend.Client.Auto.AutoBuilders.Base.BaseAutoValueComponent<decimal>

@using System.Globalization
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

<div id="auto-money-rounded-table" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
    <MudText>
        @Math.Round(Value, 0).ToString("N0", CultureInfo.GetCultureInfo("pt-BR"))
    </MudText>
</div>


@code {

    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoMoneyRoundedTable;
}