@typeparam TItemType where TItemType : IConvertible
@inherits BaseValueAutoComponent<TItemType>

@using Blater.Frontend.Client.Auto.AutoModels
@using Blater.Frontend.Client.Auto.AutoModels.Base
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

<div id="auto-section-text" class="@ExtraClass">
    @if (!string.IsNullOrEmpty(LabelName))
    {
        <MudText>@LabelName</MudText>
    }
</div>


@code {
    public int Priority => 1000;
    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoSectionText;

}