@inherits Blater.Frontend.Client.Auto.AutoBuilders.Base.BaseAutoValueImageComponent
@using Blater.Frontend.Client.Auto.AutoModels.Base
@using Blater.Frontend.Client.Auto.AutoModels.Enumerations
@implements Blater.Frontend.Client.Auto.Interfaces.IAutoBuildableComponent

<div id="auto-image-rectangle-details" class="flex items-center gap-4 @ExtraClass">
    <MudImage 
        Src="@Value"
        Alt="image" 
        Elevation="25"
        Style="max-height: 300px; width: 100%"
        Class="rounded"/>
</div>

@code {
    public int Priority => 1000;

    public BaseAutoComponentTypeEnumeration ComponentType => AutoTableComponentType.AutoImageRectangleDetails;

}